
<!-- Contact Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{ page.content | markdownify }}
    </div>
  </div>

  <div class="row contact-details">
    {% if site.email %}
    <div class="col-md-10 col-md-offset-1 contact-details__item">
      <div>
        <a href="mailto:{{ site.email }}" target="_blank">
        <span class="contact-details__item__icon">
        <i class="fa fa-envelope fa-rw"></i> </span>
          {{ site.email }}</a>
      </div>
    </div>
    {% endif %}
    {% if site.phone %}
    <div class="col-md-10 col-md-offset-1 contact-details__item">
      <div>
        <a href="tel:{{ site.phone }}" target="_blank">
        <span class="contact-details__item__icon">
        <i class="fa fa-phone fa-rw"></i> </span>
          {{ site.phone }}</a>
      </div>
    </div>
    {% endif %}
  </div>
</section>

<!-- Contact End -->
