{% if paginator.previous_page and paginator.next_page %}
  <div class="pagination" >
    <h4>
      {% if paginator.previous_page %}
      <button type="button" class="btn btn-primary"
              onclick="location.href='{{site.baseurl}}{{paginator.previous_page_path}}';"
              style="font-size: 2.5rem; margin-right: 1rem; border-radius: 7px">
        <span class="glyphicon glyphicon-chevron-left"></span>Previous Posts
      </button>
    {% endif %}
    {% if paginator.next_page %}
      <button type="button" class="btn btn-primary"
              style="font-size: 2.5rem; margin-left: 1rem; border-radius: 7px"
              onclick="location.href='{{site.baseurl}}{{paginator.next_page_path}}';">
        Next Posts
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    {% endif %}
    </h4>
  </div>
{% endif %}