<div id="swipe-instruction">
  <div>
    <p><br><br><br></p>
    <i id="hand-swipe" class="fa fa-hand-o-up"></i>
    <p><strong>
    {% if page.section-type == "blog" %}
      Swipe left or right to navigate to next or previous archive post
      {% elsif page.section-type == "post" %}
      Swipe left or right to navigate to next or previous post
    {% endif %}
    </strong></p>
    <button type="button" class="btn btn-default ok-btn close-swipe-instruction">
      {% if page.section-type == "blog" %}
        Got it!
      {% elsif page.section-type == "post" %}
        Awesome!
      {% endif %}
    </button>
  </div>
</div>

<!-- Swipe Instructions End -->
